# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.so

# ==============================
# Virtual Environment
# ==============================
venv/
env/
ENV/
.venv/

# ==============================
# Django
# ==============================
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# ==============================
# Environment Variables
# ==============================
.env
.env.*
*.env

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/
*.swp
*.swo

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Testing
# ==============================
.coverage
htmlcov/
.pytest_cache/

github_app_private_key.pem